[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
flask-restful = "*"
flask-bcrypt = "*"
importlib-resources = "*"
jsonify = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
